@import "base/fonts";
@import "base/mixins";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.divider {
    margin: 0 auto;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin-top: 18px;
}

@import "blocks/main";
@import "blocks/media";