@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        .simple {
            .line, .line_2 {
                width: 215px;
            }
        }
    }
    .waiting {
        &_item {
            width: 315px;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        .title {
            font-size: 30px;
        }
        .simple {          
            .title_big {
                font-size: 60px;
            }
            .line, .line_2 {
                width: 160px;
            }
        }
        &_text {
            font-size: 18px;
        }
    }
    .waiting {
        &_item {
            width: 235px;
        }
    }
    .optimization {
        padding: 75px 0;
        &_header {
            font-size: 27px;
            margin-left: 350px;
        }
        &_text {
            margin-top: 20px;
            margin-left: 350px;
            font-size: 15px;
            line-height: 20px;
        }
    }
    .finish {
        &_descr {
            font-size: 14px;
        }
    }
    .gift {
        padding: 75px 0;
        &_text {
            font-size: 27px;
        }
    }
    .first {
        padding: 75px 0 65px 0;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        padding: 25px 0 62px 0;
        h1 {
            margin-top: 45px;
        }
        .title {
            font-size: 24px;
        }
        .simple {          
            .title_big {
                font-size: 50px;
            }
            .line, .line_2 {
                width: 100px;
            }
        }
        &_text {
            font-size: 16px;
        }
        &_btn {
            width: 300px;
            height: 65px;
            font-size: 20px;
            line-height: 20px;
        }
    }
    .waiting {
        padding: 60px 0 0 0;
        min-height: 560px;
        &_header {
            font-size: 27px;
        }
        .divider {
            margin-top: 30px;
        }
        &_subheader {
            font-size: 18px;
            margin-top: 28px;
        }
        &_item {
            width: 175px;
        }
        &_descr {
            font-size: 12px;
            line-height: 19px;
            margin-top: 25px;
        }
    }
    .optimization {
        padding: 75px 0 75px 0;
        &_header {
            font-size: 27px;
            margin-left: 80px;
        }
        &_text {
            margin-left: 80px;
        }
        &_img {
            left: -476px;
        }
    }
    .finish {
        padding: 65px 0;
        &_header {
            font-size: 27px;
        }
        .divider {
            margin-top: 30px;
        }
        &_round {
            width: 90px;
            height: 90px;
        }
        &_descr {
            font-size: 13px;
        }
    }
    .gift {
        padding: 65px 0;
        &_text {
            margin-top: 35px;
            font-size: 23px;
            line-height: 35px;
        }
        &_btn {
            width: 300px;
            height: 65px;
            font-size: 20px;
            line-height: 20px;
        }
    }
    .first {
        padding: 65px 0;
        &_header {
            font-size: 27px;
        }
        &_title {
            font-size: 30px;
        }
        &_text {
            font-size: 21px;
        }
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    .promo {
        padding: 25px 0 62px 0;
        h1 {
            margin-top: 35px;
        }
        .title {
            font-size: 22px;
        }
        .simple {          
            .title_big {
                font-size: 38px;
            }
            .line, .line_2 {
                width: 30px;
            }
        }
        &_text {
            font-size: 16px;
            line-height: 25px;
        }
        &_btn {
            margin-top: 40px;
            width: 250px;
            height: 60px;
            font-size: 16px;
            line-height: 16px;
        }
        .more {
            margin-top: 55px;
        }
    }
    .waiting {
        padding: 60px 0 40px 0;
        &_header {
            font-size: 24px;
        }
        &_wrapper {
            margin-top: 5px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        &_item {
            margin-top: 30px;
            width: 290px;
        }
        &_descr {
            font-size: 14px;
            line-height: 21px;
            margin-top: 10px;
        }
    }
    .optimization {
        padding: 55px 6px;
        &_header {
            font-size: 22px;
            margin-left: 0;
            text-align: center;
        }
        &_text {
            margin-left: 0;
            text-align: center;
        }
        &_img {
            left: -560px;
        }
    }
    .finish {
        padding: 50px 0;
        &_header {
            font-size: 22px;
        }
        &_wrapper {
            margin-top: 10px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        &_item {
            margin-top: 25px;
        }
        &_round {
            width: 115px;
            height: 115px;
        }
        &_descr {
            margin-top: 10px;
            font-size: 16px;
        }
    }
    .gift {
        padding: 55px 6px;
        &_text {
            margin-top: 35px;
            font-size: 21px;
            line-height: 33px;
        }
        &_btn {
            margin-top: 30px;
            width: 250px;
            height: 60px;
            font-size: 16px;
            line-height: 16px;
        }
    }
    .first {
        padding: 55px 0;
        img {
            width: 290px;
        }
        &_header {
            font-size: 18px;
        }
        &_title {
            font-size: 28px;
        }
        &_text {
            font-size: 18px;
        }
    }
    footer {
        .info {
            width: 100%;
            &_links {
                display: flex;
                flex-direction: column;
                span {
                    display: none;
                }
            }
        }
        a {
            margin-bottom: 10px;
        }
    }
}